<center>
	<h1>Welcome to Zack's Zas!</h1>
	<button><%= link_to 'Click here to veiw out pizzas!', pizzas_path %></button>
	<br><br>
	<img src="http://upload.wikimedia.org/wikipedia/commons/1/10/Hot_pizza.jpg" style="height: 300px;">
</center>